{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-lg-6 offset-lg-3">
	<div class="row justify-content-center">
	    <p class="h4 mb-4">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	    {% if targetUrl %}
	    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
	    {% endif %}
	</div>
</div>
{% endblock fos_user_content %}
