{% extends 'base.html.twig' %}

{% block title %}Display post!{% endblock %}

{% block stylesheets %}
        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="jumbotron">

	<article>
		<header>
		    <h3>Post {{ post.title }} </h3>
		    <p>publié le : {{post.published | date("d/m/Y")}}</p>
	    </header>
	    <p>
	    	{{post.content}}
	    </p>
	</article>


</div>


{% endblock %}
