{% extends 'base.html.twig' %}


{% block body %}

  <div class="jumbotron">
   	<h3>Posts</h3>
	<ul>
		{% for post in posts %}
		<li>
			<h4>{{ post.title }}</h4>
			<p>{{ post.content|truncate(50, true, "...")|raw }}
		      	<a href="{{ path('display_post', {'slug': post.getSlug()}) }}"> lire la suite</a>
		   	</p>
		</li>
		{% endfor %}
	</ul>
  
</div>


{% endblock %}
