{% extends 'base.html.twig' %}

{% block body %}

<div class="container ">
   	<h3>Tous les Posts</h3>
   	<div class="row">
	{% for post in posts %}
	   	<div class="col-md-4">
		{% include 'blog/_post.html.twig' %}
		</div>
	{% endfor %}
	
</div>
</div>


{% endblock %}
